body{
    background-color: #edddd0;
}
h1{
    color:#334259;
    font-family: 'Gill Sans', sans-serif;
}
.lab2{
    font-family: 'Montserrat', sans-serif;
}
#navbar{
    background-color: #a6cad4;
    text-align: center;    
}
ul{
    list-style-type: none;
}
li{
    display: inline;
}